---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  titlePage='Acerca de | Kit de Datos Abiertos'
  descriptionPage='Encuentra herramientas, guías y conocimientos esenciales diseñados para ayudarte a aprovechar al máximo el potencial de los datos.'
  currentUrl='recursos'
  isWhiteBg={true}>
  <section class='bg-gradient-to-r from-cyan-600 to-green-500'>
    <div class='section-container py-16'>
      <h3 class='section-title mb-8 text-white'>Acerca del Kit de Datos Abiertos</h3>
      <p class='section-subtitle text-zinc-50'></p>
    </div>
  </section>

  <section class='section-container'></section>
</Layout>
