---
import ContractsArt from '@/icons/ContractsArt.astro'
import Layout from '../layouts/Layout.astro'
import DocsResolves from '@/icons/DocsResolves.astro'
import ResolvedQueries from '@/icons/ResolvedQueries.astro'
import Opportunities from '@/icons/Opportunities.astro'
import ContractError from '@/icons/ContractError.astro'
import ContractOption from '@/icons/ContractOption.astro'
import ContractQuery from '@/icons/ContractQuery.astro'
import RocketData from '@/icons/RocketData.astro'

const statistics = [
  {
    number: 20,
    description: 'Consultas Realizadas',
    icon: ResolvedQueries
  },
  {
    number: 10,
    description: 'Reclamos Resueltos',
    icon: DocsResolves
  },
  {
    number: 5,
    description: 'Oportunidades Encontradas',
    icon: Opportunities
  }
]

const features = [
  {
    title: '¿Quieres encontrar una oportunidad?',
    description: 'Puedes encontrar llamados de los que puedes participar como proveedor.',
    buttonText: 'Encontrar',
    icon: ContractOption
  },
  {
    title: '¿Tienes alguna duda?',
    description:
      'Si quieres realizar una consulta sobre un llamado con el que tengas una duda, puedes preguntar a los entes encargados.',
    buttonText: 'Consultar',
    icon: ContractQuery
  },
  {
    title: '¿Algo no está bien?',
    description:
      'Si ya identificaste una irregularidad, puedes ayudar actuando a tiempo para que sea verificada y corregida lo más pronto posible.',
    buttonText: 'Reportar',
    icon: ContractError
  }
]
---

<Layout
  titlePage='Plataforma de Monitoreo | ESTADO ABIERTO ECUADOR'
  descriptionPage=''
  currentUrl=''>
  <!-- Hero -->
  <section
    class='section-container mb-16 grid min-h-[calc(100vh-64px)] place-content-center place-items-center gap-16 md:grid-cols-2'>
    <article>
      <h1 class='mb-4 text-balance text-3xl font-bold leading-tight text-white md:text-[40px]'>
        TU VIAJE EN EL MUNDO DE LOS DATOS EMPIEZA AQUÍ
      </h1>
      <p class='mb-8 font-medium text-zinc-200'>
        La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social (SIO)
        una visión instantánea de su recorrido actual hacia la madurez de los datos, así como
        herramientas y recursos relevantes para seguir adelante. Utilice los resultados para
        identificar formas de fortalecer su práctica y compártalas para comunicar áreas de
        oportunidad.
      </p>

      <div class='grid max-w-max gap-4'>
        <a
          href='/evaluacion'
          class='group flex h-12 animate-background-shine select-none items-center justify-center gap-2 rounded border border-primary bg-[linear-gradient(110deg,#071E2D,45%,#10BCD0,55%,#071E2D)] bg-[length:200%_100%] px-6 font-semibold text-white transition-colors focus:outline-none'>
          <span>Empezar evaluación</span>

          <svg
            class='h-4 w-4 transition-transform ease-in-out group-hover:translate-x-2'
            width='15'
            height='15'
            viewBox='0 0 15 15'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
            class='h-5 w-5'
            ><path
              d='M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z'
              fill='currentColor'
              fill-rule='evenodd'
              clip-rule='evenodd'></path>
          </svg>
        </a>
      </div>
    </article>

    <RocketData className='ml-auto hidden h-auto w-full max-w-md md:block' />
  </section>
  <!-- Fin Hero -->

  <!-- Why? -->
  <div class='bg-white py-16'>
    <section class='section-container my-16 mt-10 gap-16'>
      <article class='flex w-full flex-col items-start justify-between gap-8 md:flex-row'>
        <h2
          class='mx-auto max-w-max text-balance text-4xl font-bold leading-[3.25rem] text-zinc-900 lg:mx-0 lg:mb-6 lg:max-w-xl'>
          ¿Quién puede beneficiarse de la evaluación de la madurez de los datos?
        </h2>

        <div class='max-w-2xl'>
          <p class='mb-4 font-medium text-zinc-800'>
            La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
            (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así
            como herramientas y recursos relevantes para seguir adelante. Utilice los resultados
            para identificar formas de fortalecer su práctica y compártalas para comunicar áreas de
            oportunidad.
          </p>

          <p class='mb-4 font-medium text-zinc-800'>
            La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
            (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así .
          </p>

          <p class='mb-4 font-medium text-zinc-800'>
            La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
            (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así .
          </p>
        </div>
      </article>
    </section>
  </div>
  <!-- Fin Why? -->

  <!-- Hero -->
  <section class='bg-white py-32'>
    <div class='section-container mx-auto sm:px-6 lg:px-8'>
      <div
        class='mb-10 flex flex-col items-center justify-center gap-x-0 gap-y-6 max-md:mx-auto max-md:max-w-lg lg:mb-16 lg:flex-row lg:justify-between lg:gap-y-0'>
        <div class='relative w-full text-center lg:w-2/4 lg:text-left'>
          <h2
            class='mx-auto max-w-max text-4xl font-bold leading-[3.25rem] text-zinc-900 lg:mx-0 lg:mb-6 lg:max-w-md'>
            Evualuación basada en 3 pilares fundamentales
          </h2>
        </div>
        <div class='relative w-full text-center lg:w-2/4 lg:text-left'>
          <p class='mb-5 text-lg font-normal text-gray-500'>
            We provide all the advantages that can simplify all your financial transactions without
            any further requirements
          </p>
          <a
            href='#'
            class='flex flex-row items-center justify-center gap-2 text-base font-semibold text-primary hover:underline hover:underline-offset-4 lg:justify-start'>
            Empezar evaluación
          </a>
        </div>
      </div>
      <div
        class='flex flex-wrap items-center justify-center gap-x-5 gap-y-8 md:flex-wrap lg:flex-row lg:flex-nowrap lg:justify-between lg:gap-x-8 lg:gap-y-0'>
        <div
          class='group relative w-full rounded bg-gray-100 p-4 transition-all duration-500 hover:bg-primary max-md:mx-auto max-md:max-w-md md:h-64 md:w-2/5 xl:w-1/4 xl:p-7'>
          <div class='mb-5 flex h-14 w-14 items-center justify-center rounded bg-white'>
            <svg
              width='30'
              height='30'
              viewBox='0 0 30 30'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M24.7222 11.6667V7.22225C24.7222 5.99495 23.7273 5 22.5 5H4.72222C3.49492 5 2.5 5.99492 2.5 7.22222V22.7778C2.5 24.0051 3.49492 25 4.72222 25H22.5C23.7273 25 24.7222 24.005 24.7222 22.7777V17.7778M20.8333 17.7778H25.2778C26.5051 17.7778 27.5 16.7829 27.5 15.5556V13.8889C27.5 12.6616 26.5051 11.6667 25.2778 11.6667H20.8333C19.606 11.6667 18.6111 12.6616 18.6111 13.8889V15.5556C18.6111 16.7829 19.606 17.7778 20.8333 17.7778Z'
                stroke='#4F46E5'
                stroke-width='2'></path>
            </svg>
          </div>
          <h4
            class='mb-3 text-xl font-semibold capitalize text-gray-900 transition-all duration-500 group-hover:text-white'>
            Objetivo
          </h4>
          <p
            class='text-sm font-normal leading-5 text-gray-500 transition-all duration-500 group-hover:text-white'>
            We Provide Various Methods For You To Carry Out All Transactions Related To Your
            Finances
          </p>
        </div>
        <div
          class='group relative w-full rounded bg-gray-100 p-4 transition-all duration-500 hover:bg-primary max-md:mx-auto max-md:max-w-md md:h-64 md:w-2/5 xl:w-1/4 xl:p-7'>
          <div class='mb-5 flex h-14 w-14 items-center justify-center rounded bg-white'>
            <svg
              width='30'
              height='30'
              viewBox='0 0 30 30'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M14.375 15.8571C16.1009 15.8571 17.5 14.458 17.5 12.7321C17.5 11.0062 16.1009 9.6071 14.375 9.6071C12.6491 9.6071 11.25 11.0062 11.25 12.7321C11.25 14.458 12.6491 15.8571 14.375 15.8571ZM14.375 15.8571V20.8571M3.75 13.2264V15.2343C3.75 17.6868 3.75 18.9131 4.27747 19.9685C4.80493 21.0239 5.78567 21.76 7.74715 23.2322L8.57248 23.8516C11.4626 26.0208 12.9077 27.1054 14.5753 27.1054C16.243 27.1054 17.688 26.0208 20.5782 23.8516L21.4035 23.2322C23.365 21.76 24.3457 21.0239 24.8732 19.9685C25.4006 18.9131 25.4006 17.6868 25.4006 15.2343V13.2264C25.4006 9.95932 25.4006 8.32576 24.546 7.05852C23.6913 5.79128 22.1768 5.17918 19.1477 3.95499L18.3223 3.62144C16.4724 2.87381 15.5475 2.5 14.5753 2.5C13.6032 2.5 12.6782 2.87381 10.8283 3.62144L10.003 3.95499C6.97389 5.17919 5.45934 5.79128 4.60467 7.05852C3.75 8.32576 3.75 9.95932 3.75 13.2264Z'
                stroke='#4F46E5'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'></path>
            </svg>
          </div>
          <h4
            class='mb-3 text-xl font-semibold capitalize text-gray-900 transition-all duration-500 group-hover:text-white'>
            Práctica
          </h4>
          <p
            class='text-sm font-normal leading-5 text-gray-500 transition-all duration-500 group-hover:text-white'>
            We have the most up-to-date security to support the security of all our customers in
            carrying out all transactions.
          </p>
        </div>
        <div
          class='group relative w-full rounded bg-gray-100 p-4 transition-all duration-500 hover:bg-primary max-md:mx-auto max-md:max-w-md md:h-64 md:w-2/5 xl:w-1/4 xl:p-7'>
          <div class='mb-5 flex h-14 w-14 items-center justify-center rounded bg-white'>
            <svg
              width='30'
              height='30'
              viewBox='0 0 30 30'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M15.0067 10V15.6652C15.0067 16.0358 15.1712 16.3873 15.4556 16.6248L18.75 19.375M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z'
                stroke='#4F46E5'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'></path>
            </svg>
          </div>
          <h4
            class='mb-3 text-xl font-semibold capitalize text-gray-900 transition-all duration-500 group-hover:text-white'>
            Personal
          </h4>
          <p
            class='text-sm font-normal leading-5 text-gray-500 transition-all duration-500 group-hover:text-white'>
            Provide Customer Service For Those Of You Who Have Problems 24 Hours A Week
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Fin Hero -->
</Layout>
