<section class='bg-white py-32'>
  <div class='section-container'>
    <article class='flex w-full flex-col items-start justify-between gap-8 md:flex-row'>
      <h2
        class='mx-auto max-w-max text-balance text-4xl font-bold leading-[3.25rem] text-zinc-900 lg:mx-0 lg:mb-6 lg:max-w-xl'>
        ¿Quién puede beneficiarse de la evaluación de la madurez de los datos?
      </h2>

      <div class='max-w-2xl'>
        <p class='mb-4 font-medium text-zinc-800'>
          La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
          (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así
          como herramientas y recursos relevantes para seguir adelante. Utilice los resultados para
          identificar formas de fortalecer su práctica y compártalas para comunicar áreas de
          oportunidad.
        </p>

        <p class='mb-4 font-medium text-zinc-800'>
          La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
          (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así .
        </p>

        <p class='mb-4 font-medium text-zinc-800'>
          La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
          (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así .
        </p>
      </div>
    </article>
  </div>
</section>
