<section class='bg-blue-accent py-24'>
  <div class='section-container'>
    <article
      class='grid w-full flex-col items-start justify-between gap-8 md:grid-cols-2 md:flex-row'>
      <h2 class='text-4xl font-bold leading-[3.25rem] text-white lg:mx-0 lg:mb-6 lg:max-w-xl'>
        ¿A quiénes está dirigida esta evaluación?
      </h2>

      <div class='space-y-8'>
        <p class='text-pretty text-lg text-white'>
          Esta evaluación ofrece a representantes de
          <span class='underline decoration-custom-orange decoration-4 underline-offset-4'>
            Gobiernos Autónomos Descentralizados
          </span>del Ecuador, así como de otras instituciones públicas, una mirada completa sobre su
          estado actual con relación a los datos abiertos, así como herramientas y acciones
          relevantes que podrían realizar para mejorar su uso y aprovechamiento.
        </p>
      </div>
    </article>
  </div>
</section>
