<section class='bg-blue-accent py-24'>
  <div class='section-container'>
    <article
      class='grid w-full flex-col items-start justify-between gap-8 md:grid-cols-2 md:flex-row'>
      <h2 class='text-4xl font-bold leading-[3.25rem] text-white lg:mx-0 lg:mb-6 lg:max-w-xl'>
        ¿Quién puede beneficiarse de la evaluación de la madurez de los datos abiertos?
      </h2>

      <div class='space-y-8'>
        <p class='text-pretty text-lg text-white'>
          Esta evaluación es ideal para implementar tecnología y datos en busca de
          <span class='underline decoration-custom-orange decoration-4 underline-offset-4'>
            resultados significativos
          </span>, ofreciendo un punto de entrada y recursos neutrales
        </p>

        <p class='text-pretty text-lg text-white'>
          Todo tipo de instituciones pueden utilizar esta evaluación para identificar áreas de
          mejora y optimizar el uso de datos en la gestión pública,
          <span class='underline decoration-custom-orange decoration-4 underline-offset-4'>
            fortaleciendo la transparencia
          </span>
          y la eficiencia. Además, las instituciones académicas pueden proponer soluciones innovadoras
          para abordar problemas sociales mediante un mejor uso de los datos.
        </p>
      </div>
    </article>
  </div>
</section>
