---
import RocketData from '@/icons/RocketData.astro'

const howToEvaluate = [
  {
    title: 'Propósito',
    bgColor: 'bg-[#F9F8F7]',
    description:
      'Esta sección evalúa en qué medida los datos se están considerando como un elemento integral para la elaboración de estrategias, la toma de decisiones y los procesos en la institución.',
    image: '/images/evaluate-purpose.svg'
  },
  {
    title: 'Práctica',
    bgColor: 'bg-[#EBE6E0]',
    description:
      'Esta sección evalúa en qué medida los datos se usan, aprovechan y comparten a la interna y externa de la institución.',
    image: '/images/evaluate-practice.svg'
  },
  {
    title: 'Personal',
    bgColor: 'bg-[#F9F8F7]',
    description:
      'Esta sección evalúa en qué medida los servidores públicos de la institución cuentan con las habilidades y capacidades para usar y aprovechar los datos que recopilan o utilizan.',
    image: '/images/evaluate-personal.svg'
  }
]
---

<div class='wave-container min-h-[calc(100vh-64px)]'>
  <section class='py-32'>
    <div class='section-container mx-auto'>
      <article
        class='grid w-full grid-cols-2 flex-col items-start justify-between gap-8 md:flex-row'>
        <h2
          class='text-primary-text text-4xl font-bold leading-[3.25rem] lg:mx-0 lg:mb-6 lg:max-w-xl'>
          ¿Quién puede beneficiarse de la evaluación de la madurez de los datos?
        </h2>

        <div class=''>
          <p class='text-secondary-text mb-4 text-pretty text-lg font-medium'>
            La evaluación de la madurez de los datos ofrece a las organizaciones de impacto social
            (SIO) una visión instantánea de su recorrido actual hacia la madurez de los datos, así .
          </p>

          <p class='text-secondary-text mb-4 text-pretty text-lg font-medium'>Empezar evaluación</p>
        </div>
      </article>

      <section
        class='mt-16 flex flex-wrap items-center justify-center md:flex-wrap lg:flex-row lg:flex-nowrap lg:justify-between'>
        {
          howToEvaluate.map(how => (
            <article class:list={how.bgColor} class='group relative w-full p-8 md:h-64'>
              <h4 class='text-primary-text my-4 text-3xl font-bold'>{how.title}</h4>
              <p class='text-secondary-text font-medium leading-7'>{how.description}</p>
            </article>
          ))
        }
      </section>
    </div>
  </section>
</div>

<style>
  .wave-container {
    height: 40vh;
    position: relative;
  }

  .wave-container::before {
    content: '';
    width: 100%;
    height: 71px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 36vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 101' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 2 32.2291 4 51.5 7C104.5 14 200 32 300 50C400 67 500 84 600 77C700 70 800 40 900 23C987.526 4 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V101H1150C1100 101 1000 101 900 101C800 101 700 101 600 101C500 101 400 101 300 101C200 101 100 101 50 101H0V1.98128Z' fill='%23EBE6E0'/></svg>");
  }

  @media (max-width: 850px) {
    .wave-container::before {
      height: 35.5px;
    }
  }
</style>
