<footer class='py-16'>
  <section
    class='section-container flex flex-col items-center justify-center gap-8 sm:gap-16 md:flex-row md:items-baseline'>
    <article class='flex flex-col items-center justify-center gap-4'>
      <h3 class='text-medium-text text-center text-base font-semibold text-zinc-600'>
        Una iniciativa de
      </h3>
      <a href='http://www.fundapi.org.ec' target='_blank' rel='nofollow noopener noreferrer'>
        <img
          class='h-auto w-full max-w-24 transition-transform duration-300 ease-in-out hover:scale-105'
          src='/images/logofundapi.png'
          alt='Logo de Fundapi'
        />
      </a>
      <span class='sr-only'>Compras GPT es una inciativa de Fundapi</span>
    </article>
    <article class='flex flex-col items-center justify-between gap-4'>
      <h3 class='text-medium-text text-center text-base font-semibold text-zinc-600'>
        Con el apoyo de
      </h3>

      <div class='flex items-center justify-center gap-8'>
        <a href='https://www.padf.org/ecuador/' target='_blank' rel='nofollow noopener noreferrer'>
          <img
            class='h-auto w-full max-w-40 transition-transform duration-300 ease-in-out hover:scale-105'
            src='/images/logopadf.png'
            alt='Logo de Fundación Panamericana para el Desarrollo'
          />
        </a>
        <a
          href='https://www.usaid.gov/es/ecuador'
          target='_blank'
          rel='nofollow noopener noreferrer'>
          <img
            class='h-auto w-full max-w-40 transition-transform duration-300 ease-in-out hover:scale-105'
            src='/images/logousaid.png'
            alt='Logo de USAID'
          />
        </a>
      </div>
      <span class='sr-only'>Con el apoyo de la PADF y USAID</span>
    </article>
  </section>
</footer>
