---
const navLinks = [
  {
    id: 'inicio',
    name: 'Inicio',
    url: '/'
  },
  {
    id: 'acerca',
    name: 'Acerca de',
    url: '/acerca-de'
  },
  {
    id: 'evaluacion',
    name: 'Evaluación',
    url: '/evaluacion'
  },
  {
    id: 'recursos',
    name: 'Recursos',
    url: '/recursos'
  },
  {
    id: 'contacto',
    name: 'Contacto',
    url: '/contacto'
  }
]
---

<header class='sticky top-0 z-50 border-b bg-white backdrop-blur-xl'>
  <nav class='section-container py-2'>
    <div class='mx-auto flex flex-wrap items-center justify-between'>
      <a href='/' class='flex items-center space-x-3 text-primary-text rtl:space-x-reverse'>
        <img class='max-w-60' src='/images/logo-kit-de-datos.png' alt='' />
      </a>
      <button
        data-collapse-toggle='navbar-default'
        type='button'
        class='inline-flex h-10 w-10 items-center justify-center rounded p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden'
        aria-controls='navbar-default'
        aria-expanded='false'>
        <span class='sr-only'>abrir menú de navegación</span>
        <svg
          class='h-5 w-5'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 17 14'>
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 1h15M1 7h15M1 13h15'></path>
        </svg>
      </button>
      <div class='hidden w-full md:block md:w-auto' id='navbar-default'>
        <ul
          class='mt-4 flex flex-col rounded border border-gray-100 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:p-0 rtl:space-x-reverse'>
          {
            navLinks.map(link => (
              <li>
                <a
                  href={link.url}
                  class='text-primary-tex group relative w-max cursor-pointer p-4 pb-1 font-medium'>
                  <span>{link.name}</span>
                  <span
                    id={link.id}
                    class='absolute -bottom-1 left-0 h-0.5 w-0 bg-primary transition-all group-hover:w-full'
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const homeLinkActive = document.getElementById('inicio')
    const aboutLinkActive = document.getElementById('acerca')
    const evaluationLinkActive = document.getElementById('evaluacion')
    const resourcesLinkActive = document.getElementById('recursos')
    const contactLinkActive = document.getElementById('contacto')

    const pathName = window.location.pathname

    console.log(pathName)

    console.log('HOLAA')

    if (pathName === '/') {
      homeLinkActive.style.width = '100%'
    }

    if (pathName === '/acerca-de') {
      aboutLinkActive.style.width = '100%'
    }

    if (pathName === '/evaluacion') {
      evaluationLinkActive.style.width = '100%'
    }

    if (pathName === '/recursos') {
      resourcesLinkActive.style.width = '100%'
    }

    if (pathName === '/contacto') {
      contactLinkActive.style.width = '100%'
    }
  })
</script>
